<!DOCTYPE html>
<!--
    This file is part of  program Alite
    Copyright © 2023  Carlo Oliveira carlo@nce.ufrj.br,
    `Labase http://labase.selfip.org/`_ - `NCE http://portal.nce.ufrj.br`_ - `UFRJ https://ufrj.br/`_.
    SPDX-License-Identifier: `GNU General Public License v3.0 or later http://is.gd/3Udt`_.
-->
<html lang="en">
<head>
    <title id="_tt_">Alite - Dashboard</title>
    <!-- stylesheets -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
          integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
          integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <!--    <script src="https://kit.fontawesome.com/ee888cdf8b.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="/image/favico.ico" type="image/x-icon"/>
    <style>
        .clicker {
            position: absolute;
            top: 0px;
            width: 23%;
            left: auto;
            height: 100%;
            margin-left: -10%;

        }




    </style>

</head>
<!--<body bgcolor="#003333" onload="brython({debug: 1})">-->
<body background-color="darkslategrey">

<!-- navigation -->
<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://labase.github.io">
            <img src="/image/alite_logo.jpg" alt="ALITE" width="26" height="28">
        </a>
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                ALITE
            </a>
        </div>
        <span class="navbar-burger" data-target="navbar-menu">
        <span></span>
        <span></span>
        <span></span>
    </span>
    </div>

    <div id="navbar-menu" class="navbar-menu">

        <!-- this "nav-menu" is hidden on mobile -->
        <div id="right_menu" class="navbar-end">
            <a class="navbar-item is-tab" href="/infra/help.html" target="_blank">
                <i class="fa-solid fa-question"></i>&nbsp;Help
            </a>
<!--            <a class="navbar-item is-tab" href="#" target="_blank">-->
            <a class="navbar-item is-tab" href="_">
                <i class="fa-regular fa-address-card"></i>&nbsp;About
            </a>
        </div>
        <!-- end of nav -->
    </div>
</nav>
<!-- end navigation -->
<!-- page content -->
<div class="main-content">
    <div class="container">
        <!-- start of about -->
        <div class="columns is-multiline is-centered">
            <!-- start of about -->
            {% block main %}
            <div class="column is-8">
                <div class="card">
                    <!-- about header-->
                    <div class="card-content-header has-text-centered">
                        <h4 class="title is-4">ALITE</h4>
                    </div>
                    <!-- end of about header -->

                    <!-- about content -->
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/image/alite_splash.jpg" alt="ALITE PLATFORM"/>
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        Activ Lightweight Educational Platform
                    </div>
                </div>
            </div>
            {% end %}
            <!-- end of about column -->
        </div>
        <!-- end of about columns -->
    </div>
</div>
<!-- end of page content -->

<!-- footer: will stick to the bottom -->
<div class="footer footer-top-shadow">
    <div class="container">
        <!-- start of posts -->
        <div class="columns is-centered">
            <!-- start of post -->
            <div class="column is-2">
                <div class="card">
                    <!-- image for post -->
                    <div class="card-image">
                        <figure class="image is-4by1">
                            <a href="https://ufrj.br/">
                                <img src="../image/ufrj-logo-8.png" alt="UFRJ">
                            </a>
                        </figure>
                    </div>
                    <!-- end of image for post -->
                </div>
            </div>
            <!-- end of post -->
            <!-- start of post -->
            <div class="column is-2">
                <div class="card">
                    <!-- image for post -->
                    <div class="card-image">
                        <figure class="image is-4by1">
                            <a href="https://www.nce.ufrj.br/">
                                <img src="../image/nce-logo-8.png" height="30px" alt="NCE">
                            </a>
                        </figure>
                    </div>
                    <!-- end of image for post -->
                </div>
            </div>
            <!-- end of post -->
            <!-- start of post -->
            <div class="column is-2">
                <div class="card">
                    <!-- image for post -->
                    <div class="card-image">
                        <figure class="image is-4by1">
                            <a href="https://labase.github.io/">
                                <img src="../image/labase-logo-8.png" height="30px" alt="LABASE">
                            </a>
                        </figure>
                    </div>
                    <!-- end of image for post -->
                </div>
            </div>
            <!-- end of post -->
            <!-- start of post -->
            <div class="column is-2">
                <div class="card">
                    <!-- image for post -->
                    <div class="card-image">
                        <figure class="image is-3by1">
                            <a href="https://www.sbc.org.br/2-uncategorised/1939-programa-superpython">
                                <img src="../image/sbc-logo-8.png" alt="SBC">
                            </a>
                        </figure>
                    </div>
                    <!-- end of image for post -->
                </div>
            </div>
            <!-- end of post -->
        </div>
        <!-- end of posts -->
    </div>
    <div class="container has-text-centered">


        <br>
        <p>gaming platform by <a href="https://labase.github.io">https://labase.github.io</a></p>
        <p>this platform is proudly open source. version: {{ version }}</p>
    </div>
</div>
<div class="modal {{ about }} is-large">
  <div class="modal-background"></div>
  <div class="modal-content" style="min-width:900px !important;">
      {% include about.html %}
  </div>
  <button class="modal-close is-large" aria-label="close" onclick="window.location.href='0';"></button>
</div>
</body>
</html>
