{% extends "boiler.html" %}
{% block main %}
<!-- start of about -->
<div class="column is-12">
    <div class="card">
        <!-- about header-->
        <div class="card-content-header has-text-centered">
            <h4 class="title is-4">ALITE</h4>
        </div>
        <!-- end of about header -->

        <!-- about content -->
        <div class="card-image">
            <figure class="image is-6by4">
                <img src="data:image/png;base64,{{ image }}" alt="Alite Chart"/>
            </figure>
        </div>
        <div class="card-content">
            ....
        </div>
    </div>
</div>
<!-- end of about column -->
{% end %}

