<!DOCTYPE html>
<html lang="en">
<head>
    <title id="_tt_">Alite Games</title>
    <!-- stylesheets -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
          integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
          integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <!--    <script src="https://kit.fontawesome.com/ee888cdf8b.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../css/bulma.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="/../image/favico.ico" type="../image/x-icon"/>
    <script type="text/javascript" src="https://cdn.rawgit.com/brython-dev/brython/3.8.0/www/src/brython.js">
    </script>
    <script type="text/javascript" src="https://cdn.rawgit.com/brython-dev/brython/3.8.0/www/src/brython_stdlib.js">
    </script>
    <style>
        .clicker {
            position: absolute;
            top: 0px;
            width: 23%;
            left: auto;
            height: 100%;
            margin-left: -10%;

        }
    </style>

</head>
<body>

<!-- navigation -->
<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://labase.github.io">
      <img src="/image/alite_logo.jpg" alt="LABASE" width="26" height="28">
    </a>
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        LABASE
      </a>
    </div>
    <span class="navbar-burger" data-target="navbar-menu">
        <span></span>
        <span></span>
        <span></span>
    </span>
  </div>

  <div id="navbar-menu" class="navbar-menu">

    <!-- this "nav-menu" is hidden on mobile -->
    <div id="right_menu" class="navbar-end">
            <a class="navbar-item is-tab" href="/infra/help.html">
                <i class="fa-solid fa-question"></i>&nbsp;Help
            </a>
            <a class="navbar-item is-tab" href="/infra/about.html">
                <i class="fa-regular fa-address-card"></i>&nbsp;About
            </a>
    </div>
    <!-- end of nav -->
  </div>
</nav>
<!-- end navigation -->
<!-- page header (title, etc) -->
<div class="main-header">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="has-text-centered">
                    <!-- header && subheader -->
                    <h1 class="title is-1 is-spaced">Games Inteligentes</h1>
                    <h4 class="subtitle is-4">Clique em uma das três opções, Eica, Wisconsin ou Saída.</h4>
                    <!-- end of header && subheader -->

                </div>
            </div>
        </div>
    </section>
</div>
<!-- end page header -->

<div class="main-content">
    <div class="container">
        <!-- start of posts -->
        <div class="columns is-multiline is-centered has-text-centered">
            <!-- start of post -->
            <div class="column is-4">
                <div class="card">
                    <!-- image for post -->
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="/home/game?oid={{ session }}">
                                <img src="../image/eica.png" alt="Jogo Eica">
                            </a>
                        </figure>
                    </div>
                    <!-- end of image for post -->

                    <!-- post header -->
                    <div class="card-content-header">
                        <h4 class="title is-4"><a href="/home/game?oid={{ session }}">Jogo Eica</a></h4>
                    </div>
                    <!-- end of post header -->
                    Viva as aventuras de um home pré-histórico

                    <!-- post content -->
                </div>
            </div>
            <!-- end of post -->

            <!-- start of post -->
            <div class="column is-4">
                <div class="card">
                    <!-- image for post -->
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="/home/wcst?oid={{ session }}">
                                <img src="../image/wsct.png" alt="Teste Wisconsin">
                            </a>
                        </figure>
                    </div>
                    <!-- end of image for post -->

                    <!-- post header -->
                    <div class="card-content-header">
                        <h4 class="title is-4"><a href="/home/wcst?oid={{ session }}">Teste Wisconsin</a></h4>
                    </div>
                    <!-- end of post header -->
                    Teste a sua inteligência com este jogo de cartas
                    <!-- post content -->
                </div>
            </div>
            <!-- end of post -->

            <!-- start of post -->
            <div class="column is-4">
                <div class="card">
                    <!-- image for post -->
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="/">
                                <img src="../image/saida.jpg" alt="Saia dos Jogos">
                            </a>
                        </figure>
                    </div>
                    <!-- end of image for post -->

                    <!-- post header -->
                    <div class="card-content-header">
                        <h4 class="title is-4"><a href="/">Saída</a></h4>
                    </div>
                    <!-- end of post header -->
                    Termine suas jogadas e de oportunidade para outro jogar
                    <!-- post content -->
                </div>
            </div>
            <!-- end of post -->
        </div>
        <!-- end of posts -->
    </div>

</div>
<!-- end of page content -->

<!-- footer: will stick to the bottom -->
<div class="footer footer-top-shadow">
    <div class="container">
        <!-- start of posts -->
        <div class="columns is-centered">
            <!-- start of post -->
            <div class="column is-2">
                <div class="card">
                    <!-- image for post -->
                    <div class="card-image">
                        <figure class="image is-4by1">
                            <a href="https://ufrj.br/">
                                <img src="../image/ufrj-logo-8.png"  alt="UFRJ">
                            </a>
                        </figure>
                    </div>
                    <!-- end of image for post -->
                </div>
            </div>
            <!-- end of post -->
            <!-- start of post -->
            <div class="column is-2">
                <div class="card">
                    <!-- image for post -->
                    <div class="card-image">
                        <figure class="image is-4by1">
                            <a href="http://www.nce.ufrj.br/">
                                <img src="../image/nce-logo-8.png" height="30px" alt="NCE">
                            </a>
                        </figure>
                    </div>
                    <!-- end of image for post -->
                </div>
            </div>
            <!-- end of post -->
            <!-- start of post -->
            <div class="column is-2">
                <div class="card">
                    <!-- image for post -->
                    <div class="card-image">
                        <figure class="image is-4by1">
                            <a href="http://labase.github.io/">
                                <img src="../image/labase-logo-8.png" height="30px" alt="LABASE">
                            </a>
                        </figure>
                    </div>
                    <!-- end of image for post -->
                </div>
            </div>
            <!-- end of post -->
            <!-- start of post -->
            <div class="column is-2">
                <div class="card">
                    <!-- image for post -->
                    <div class="card-image">
                        <figure class="image is-3by1">
                            <a href="http://www.sbc.org.br/2-uncategorised/1939-programa-superpython">
                                <img src="../image/sbc-logo-8.png" alt="SBC">
                            </a>
                        </figure>
                    </div>
                    <!-- end of image for post -->
                </div>
            </div>
            <!-- end of post -->
        </div>
        <!-- end of posts -->
    </div>
    <div class="container has-text-centered">


        <br>
        <p>gaming platform by <a href="http://labase.github.io">http://labase.github.io</a></p>
        <p>this platform is proudly open source</p>
    </div>
</div></body>
</html>
