<!DOCTYPE html>
<html lang="en">
<head>
    <title id="_tt_">{{titulo}}</title>
    <!-- stylesheets -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
          integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <!--    <script src="https://kit.fontawesome.com/ee888cdf8b.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/image/favico.ico" type="image/x-icon"/>
    <script type="text/javascript" src="https://cdn.rawgit.com/brython-dev/brython/3.8.0/www/src/brython.js">
    </script>
    <script type="text/javascript" src="https://cdn.rawgit.com/brython-dev/brython/3.8.0/www/src/brython_stdlib.js">
    </script>

</head>
<body bgcolor="#003333" onload="brython({debug: 1})">
<script type="text/python">
        # This file is part of  program Alite
        # Copyright © 2022  Carlo Oliveira <carlo@nce.ufrj.br>,
        # `Labase <http://labase.selfip.org/>`__; `GPL <http://is.gd/3Udt>`__.
        # SPDX-License-Identifier: (GPLv3-or-later AND LGPL-2.0-only) WITH bison-exception
        from browser import document, alert, html, window, ajax, timer, svg
        from browser.template import Template
        Template("_version_").render(version="23.02")
        Template("_tt_").render(titulo="Alite Kanban")

        from game import main
        main()

</script>
<div id="_main_" style="position:relative; width:100%; height:100%;">
    <div id="board" style="margin: 0 auto; position:relative; top:0px;">
        <img src="/image/alite_logo.jpg" alt="ALITE"
             style="width:100vw; height:100vh; object-fit: cover;"/>
        <div style="position: absolute; top: 50%; left: 50%; opacity:0.3;
            margin-top: -100px; margin-left: -100px; width: 200px; height: 200px;">
            <img src="https://imgur.com/uc56UAq.gif" width="200px" alt="LOADING" style=""/>
        </div>
    </div>
</div>
<div style="position:absolute; top:700px; left:2px; height: 10px;">
    <p>
            <span id="_version_" style="color:#FFFFEE;font-size:8px;font-family:courier new,courier,monospace;">
                {{version}}</span>
    </p>
</div>

</body>
</html>
